.wrapper {
  padding: 100px 40px;
}

.title {
  font-size: 48px;
  /* color: var(--ifm-color-primary); */
  color: transparent;
  font-weight: 700;
  -webkit-background-clip: text;
  background: var(--vp-home-hero-name-background);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
[data-theme="dark"] .title {
  color: var(--ifm-color-primary-dark);
}
.secondTitle {
  font-size: 48px;
  color: var(--ifm-color-emphasis-800);
  line-height: 64px;
}
.description {
  font-size: 24px;
  padding-top: 12px;
  color: var(--ifm-color-emphasis-600);
}
.head {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.logoContainer {
  position: relative;
  transform: translate(-32px, -42px);
  width: 320px;
  height: 320px;
}
.logoBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    -90deg,
    rgb(255, 167, 69),
    rgb(254, 134, 159),
    rgb(239, 122, 200),
    rgb(160, 131, 237),
    rgba(67, 174, 255, 0.4),
    rgb(160, 131, 237),
    rgb(239, 122, 200),
    rgb(254, 134, 159),
    rgb(255, 167, 69)
  );
  animation: Change_text_color 12s infinite ease-in-out;
  background-size: 200%;
  filter: blur(120px);
  width: 100%;
  height: 100%;
  transition: opacity 1s ease;
}
@keyframes Change_text_color {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 200%;
  }
}
.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  cursor: pointer;
  border-radius: 999px;
}
.img:hover {
  transform: translate(-50%, -50%) rotate(666turn);
  transition: transform 59s 1s cubic-bezier(0.3, 0, 0.8, 1);
}

.btnContainer {
  margin-top: 30px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 每行 3 列，每列占 1fr（fraction） */
}
.btn {
  padding-left: 24px;
  padding-right: 24px;
}

@media (max-width: 996px) {
  .wrapper {
    margin: 0 auto;
    text-align: center;
    padding-top: 0;
  }
  .btnContainer {
    gap: 25px;
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
  }
  .btn {
    padding-left: 32px;
    padding-right: 32px;
  }
  .title {
    font-size: 48px;
  }
  .secondTitle {
    font-size: 48px;
  }
  .description {
    font-size: 20px;
  }
  .logoContainer {
    transform: none;
  }
  .img {
    width: 256px;
    height: 256px;
  }
  .head {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 32px;
  }
  .secondTitle {
    font-size: 32px;
  }
  .description {
    font-size: 18px;
    padding-top: 8px;
  }
  .img {
    width: 192px;
    height: 192px;
  }
}
